html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Raleway&display=swap");

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
.container-view {
  height: 600px;
}
.errorPage h5 {
  font-family: "Kanit", sans-serif;
}
.errorPage {
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.archive-all-button {
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  color: #4f4f4f;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  top: -20px;
  border-top: none;
  padding: 1em;
  transition: all 200ms;
}
.settings-page .archive-all-button {
  border-top: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-top: 1em;
}
.archive-all-button img,
.archive-all-button span {
  transition: all 200ms;
}
.archive-all-button:hover {
  background-color: #fc5624;
}
.archive-all-button:hover img,
.archive-all-button:hover span {
  filter: brightness(100);
}
.archive-all-button img {
  margin-right: 1em;
}
.text-primary {
  color: #fc5624 !important;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
}
.call-log-item {
  cursor: pointer;
  display: grid;
  padding: 1em;
  padding-right: 0;
  margin-right: 0;
  border: 1px solid #e2e2e2;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 14px;
  grid-template-columns: 25px auto 3px 80px;
  transition: all 200ms;
}
.call-log-item:hover {
  border: 1px solid #fc5624;
}
.callIcon img {
  width: 20px;
  height: 20px;
}
.call-log-date {
  margin: 1em 0;
  display: grid;
  grid-template-columns: auto max-content auto;
}
.call-log-date span {
  font-family: "Kanit", sans-serif;
  margin: 0 1em;
  color: #b2b2b2;
  font-weight: 500;
  text-transform: uppercase;
}
.dotted-horizontal {
  background-image: linear-gradient(to right, #666666 33%, #ffffff 0%);
  background-position: center;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}
.call-log-details {
  padding: 0 0.5em;
}
.call-log-details p {
  margin-bottom: 0.5em;
}
.call-log-number {
  font-family: "Kanit", sans-serif;
  color: #4f4f4f;
  font-weight: 600;
  text-transform: uppercase;
}
.call-log-via {
  font-family: "Kanit", sans-serif;
  color: #b2b2b2;
  font-weight: 500;
}
.call-log-time span:nth-child(1) {
  padding: 5px;
  position: relative;
  bottom: -6px;
  font-family: "Kanit", sans-serif;
  color: #b2b2b2;
  font-weight: 500;
}
.call-log-time span:nth-child(2) {
  border: 1px solid #e2e2e2;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px;
  float: right;
  font-family: "Kanit", sans-serif;
  color: #b2b2b2;
  font-weight: 600;
  position: relative;
}
.modal {
  --bs-modal-width: 300px;
  top: 30%;
}
.btn-primary {
  --bs-btn-bg: #fc5624;
  --bs-btn-border-color: #fc5624;
  --bs-btn-hover-bg: #ac2800;
  --bs-btn-hover-border-color: #ac2800;
  --bs-btn-active-bg: #ac2800;
  --bs-btn-active-border-color: #ac2800;
}
